[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: flex;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Exit:before {
  content: "\e901";
}
.icon-Location:before {
  content: "\e902";
}
.icon-Logo .path1:before {
  content: "\e903";
  color: rgb(255, 184, 0);
}
.icon-Logo .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(50, 50, 50);
}
.icon-Logo .path3:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(50, 50, 50);
}
.icon-Logo .path4:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(50, 50, 50);
}
.icon-Logo .path5:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(50, 50, 50);
}
.icon-News:before {
  content: "\e908";
}
.icon-Shop:before {
  content: "\e909";
}
.icon-Video:before {
  content: "\e90a";
}
